%link{:href => "https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en", :rel => "stylesheet"}
%link{:href => "https://code.getmdl.io/1.1.3/material.blue-red.min.css", :rel => "stylesheet"}
%link{:href => "/assets/blogs/styles.scss", :rel => "stylesheet"}
%link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
%script{:src => "/assets/jquery.js"}

.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
  %header.mdl-layout__header.mdl-layout__header--waterfall.portfolio-header
    .mdl-layout__header-row.portfolio-logo-row
      %span.mdl-layout__title
        .portfolio-logo
        %span.mdl-layout__title Welcome To S & A Blog
    .mdl-layout__header-row.portfolio-navigation-row.mdl-layout--large-screen-only
      %nav.mdl-navigation.mdl-typography--body-1-force-preferred-font
        %a.mdl-navigation__link{:href => "/"} Home
        %a.mdl-navigation__link.is-active{:href => "/blogs"} Blog
        %a.mdl-navigation__link{:href => "/users/#{current_user.id}/blogs/#{@blog.id}/edit"} Edit Post
  .mdl-layout__drawer.mdl-layout--small-screen-only
    %nav.mdl-navigation.mdl-typography--body-1-force-preferred-font
      %a.mdl-navigation__link{:href => "/"} Home
      %a.mdl-navigation__link.is-active{:href => "/blogs"} Blog
      %a.mdl-navigation__link{:href => "/users/#{current_user.id}/blogs/#{@blog.id}/edit"} Edit Post
  %main.mdl-layout__content
    .mdl-grid.portfolio-max-width
      .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--4dp
        .mdl-card__title
          %h2.mdl-card__title-text
            = @blog.title
        .mdl-card__media
          %img.article-image{:alt => "", :border => "0", :src => " /assets/blogTemplate/about-header.jpg"}
        .mdl-grid.portfolio-copy
          %h3.mdl-cell.mdl-cell--12-col.mdl-typography--headline Introduction
          .mdl-cell.mdl-cell--8-col.mdl-card__supporting-text.no-padding
            %p
              = @blog.description
          %h3.mdl-cell.mdl-cell--12-col.mdl-typography--headline Irure mollit est sit labore
          .mdl-cell.mdl-cell--8-col.mdl-card__supporting-text.no-padding
            %p
              Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet. Voluptate voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla reprehenderit qui ut eiusmod ipsum do. Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis enim deserunt voluptate aute veniam sint pariatur exercitation. Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure.
    = render 'footer'
%script{:src => "https://code.getmdl.io/1.1.3/material.min.js"}
